@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  color: rgb(51 65 85 / 1)
    /* #334155 */
  ;
  font-family: poppins;
  font-size: 1.125rem;
  line-height: 2rem;

  /* Background */
  display: flex;
  align-items: start;
  justify-content: center;
  /* background-color: #350d19; */
  background-color: hsl(29, 100%, 91%);
  position: absolute;
  inset: 0;
  background-image: linear-gradient(to right, #80808012 1px, transparent 1px),
    linear-gradient(to bottom, #80808012 1px, transparent 1px);
  background-size: 24px 24px;
}

.nav {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}

.glass {
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  /* background: linear-gradient(38deg, rgba(49, 19, 19, 0.447) 21%, rgba(116, 61, 61, 0.378) 68%, rgba(88, 34, 34, 0.395) 95%); */
  opacity: .8;
  z-index: 10;
  background: rgba(182, 39, 39, 0.1);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.scrollbar {
  scrollbar-width: none;
}

.card {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(135, 55, 31, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* .card-img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.card-img {
  transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -ms-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
} */

.nav a>*:hover,
header>a:first-of-type {
  filter: drop-shadow(0px 0px 2px red);
  -webkit-filter: drop-shadow(0px 0px 2px red);
}

/* .lf-player-container {
  display: none;
}

@media (min-width: 640px) {
  .lf-player-container {
    display: block;
  }
} */


/* Scrollbar WP Projects */

.wp-project-scrollbar {
  --sb-track-color: #e7ddd6;
  --sb-thumb-color: #334155;
  --sb-size: 14px;
}

.wp-project-scrollbar::-webkit-scrollbar {
  width: var(--sb-size)
}

.wp-project-scrollbar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

.wp-project-scrollbar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;

}

@supports not selector(::-webkit-scrollbar) {
  .wp-project-scrollbar {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.fi-circle {
  width: 24px;
  height: 24px;
  font-size: 24px;
  border-radius: 100%;
  border: none;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .06);
  background: white;
}

/* Copy button */

.copy {
  position: relative;
  --tooltip-padding-x: 7px;
  --tooltip-padding-y: 7px;
}

.tooltip {
  position: absolute;
  opacity: 0;
  visibility: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font: 12px Menlo, Roboto Mono, monospace;
  color: rgb(50, 50, 50);
  background-color: #f4f3f3d3;
  padding: var(--tooltip-padding-y) var(--tooltip-padding-x);
  border-radius: 4px;
  pointer-events: none;
  /*transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);*/
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.tooltip::before {
  content: attr(data-text-initial);
}

.tooltip::after {
  content: "";
  position: absolute;
  top: calc(var(--tooltip-padding-y) / 2 * -1);
  width: var(--tooltip-padding-y);
  height: var(--tooltip-padding-y);
  background: inherit;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  z-index: -1;
  pointer-events: none;
}


.checkmark {
  display: none;
}

/* actions */

.copy:hover .tooltip,
.copy:focus:not(:focus-visible) .tooltip {
  opacity: 1;
  visibility: visible;
  top: calc((100% + 1px) * 1);
}

.copy:focus:not(:focus-visible) .tooltip::before {
  content: attr(data-text-end);
}

.copy:focus:not(:focus-visible) .clipboard {
  display: none;
}

.copy:focus:not(:focus-visible) .checkmark {
  display: block;
}